In [66]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
!which chromedriver

/usr/local/bin/chromedriver

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
# Collect latest News Title and Paragraph Text
article = soup.find('div', class_='list_text')
news_title = article.find('div', class_='content_title').text
news_paragraph = article.find('div', class_='article_teaser_body').text
print(news_title)
print(news_paragraph)

NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [9]:
url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_2)

In [16]:
html = browser.html
soup = bs(html, 'html.parser')

In [24]:
# Save JPL Featured Image URL
article = soup.find('div', class_='carousel_container')
footer = article.find('footer')
link = footer.find('a')
url = link['data-fancybox-href']
featured_image_url = 'https://www.jpl.nasa.gov/'+ url
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA18328_ip.jpg

In [25]:
url_3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_3)

In [34]:
html = browser.html
soup = bs(html, 'html.parser')

In [64]:
# Save latest Mars Weather Tweet text
article = soup.find('div', class_='ProfileTimeline')
content = article.find('div', class_='content')
tweet = content.find('p').text
print(tweet)

Sol 2288 (2019-01-12), high -7C/19F, low -68C/-90F, pressure at 8.23 hPa, daylight 06:45-18:55pic.twitter.com/Or8q1l3tka

In [65]:
# Scrape https://space-facts.com/mars/ for Mars Facts using Pandas
url_4 = 'https://space-facts.com/mars/'
browser.visit(url_4)

In [81]:
mars_facts_df = pd.read_html(url_4)

In [83]:
mars_facts_df = (mars_facts_df[0])

In [84]:
mars_facts_df.columns = ['Description', 'Value']
mars_facts_df.head(10)

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers